{% extends 'base.html' %}

{% block content %}
<div class="w-4xl bg-zinc-900 mx-auto p-2 rounded-b-md space-y-2 shadow-md">
    <div class="flex flex-col bg-zinc-800 rounded-sm p-2 shadow-md">
        <a href="{% url 'films' %}" class="w-20 text-center bg-blue-800 hover:bg-blue-600 transition font-semibold rounded-sm p-2 shadow-md">
            Voltar
        </a>

        <!-- Card para editar Filme -->
        <div class="flex flex-col gap-2 text-center items-center">
            <h1 class="font-normal">
                Editar o filme:
                <span class="font-semibold">{{ film.name }}</span>
            </h1>

            <form method="POST" enctype="multipart/form-data" class="flex flex-col gap-2 text-gray-500">
                {% csrf_token %}
                
                <div class="flex flex-row justify-center gap-4">
                    {{ form.name }}

                    <span>Duração em minutos: {{ form.duration }}</span>
                </div>

                {{ form.description }}

                {{ form.director }}

                {{ form.movie_cast }}

                <hr>

                <p>Gêneros do filme:</p>
                <div class="w-xl flex flex-row flex-wrap gap-4">
                    {% for checkbox in form.film_genre %}
                        <label class="flex justify-center gap-2 cursor-pointer">
                            {{ checkbox.tag }}
                            <span>{{ checkbox.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>

                <hr>

                <div class="flex flex-row justify-center items-center gap-4">
                    <span>Classificação Indicativa: {{ form.age_rating }}</span>

                    <span>Visibilidade: {{ form.display }}</span>
                </div>

                {{ form.ticket_url }}

                <div class="flex flex-col justify-center">
                    <p>Carregue a imagem de capa do filme abaixo:</p>
                    {{ form.thumb_image }}
                </div>

                <button type="submit" class="w-40 mx-auto bg-green-800 hover:bg-green-600 p-2 rounded-sm text-white font-semibold cursor-pointer transition shadow-md">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}