<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel de Controle</title>

    <!-- Tailwindcss -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-zinc-950 text-gray-300">
    <!-- Pop-up de mensagens -->
    {% if messages %}
    <div class="fixed top-5 right-5 space-y-2 z-50">
        {% for msg in messages %}
        <div class="msg-pop-up w-\[300px\] text-center px-4 py-2 text-lg rounded-md shadow-md transition-opacity duration-500
            {% if msg.tags == 'success' %}bg-zinc-950 border-2 border-green-600 text-green-600
            {% elif msg.tags == 'error' %}bg-zinc-950 border-2 border-red-600 text-red-600
            {% elif msg.tags == 'warning' %}bg-zinc-950 border-2 border-yellow-600 text-yellow-600
            {% elif msg.tags == 'info' %}bg-zinc-950 border-2 border-blue-600 text-blue-600
            {% else %}bg-zinc-950 border-2 border-white text-white
            {% endif %}">
            {{ msg }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <header class="sticky top-0 z-40 w-full bg-zinc-950 flex p-4 items-center justify-between shadow-md border-b border-gray-700">
        <h1 class="font-semibold">
            CinemaProject
            <span class="font-normal text-gray-500">
                - Painel de Controle
            </span>
        </h1>
        
        {% if user.is_authenticated %}
        <nav class="text-center space-x-2">
            <a href="{% url 'control-panel' %}"
                class="bg-zinc-900 hover:bg-zinc-700 cursor-pointer transition rounded-md font-semibold p-2 border-2 border-red-800">
                Ínicio
            </a>

            <a href="{% url 'users' %}"
                class="bg-zinc-900 hover:bg-zinc-700 cursor-pointer transition rounded-md font-semibold p-2 border-2 border-red-800">
                Usuários
            </a>

            <a href="{% url 'films' %}"
                class="bg-zinc-900 hover:bg-zinc-700 cursor-pointer transition rounded-md font-semibold p-2 border-2 border-red-800">
                Filmes
            </a>

            <a href="{% url 'categories' %}"
                class="bg-zinc-900 hover:bg-zinc-700 cursor-pointer transition rounded-md font-semibold p-2 border-2 border-red-800">
                Categorias
            </a>

            <a href="{% url 'user-logout' %}"
                class="bg-red-900 hover:bg-red-700 cursor-pointer transition rounded-md font-semibold p-2">
                Sair
            </a>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        // PopUp de Mensagens
        function hideMsgPopUp() {
        const messages = document.querySelectorAll(".msg-pop-up");

        if (!messages.length) return;

        messages.forEach((msg) => {
            setTimeout(() => {
            msg.style.opacity = "0";

            setTimeout(() => {
                msg.remove();
            }, 500);
            }, 3000);
        });
        }
        document.addEventListener("DOMContentLoaded", hideMsgPopUp);

        // Pesquisar
        function enableSearch(inputId, targetSelector) {
        const searchInput = document.getElementById(inputId);

        if (!searchInput) return;

        searchInput.addEventListener("input", function () {
            const term = this.value.toLowerCase();
            const lines = document.querySelectorAll(targetSelector);

            lines.forEach((line) => {
            const text = line.textContent.toLowerCase();
            line.style.display = text.includes(term) ? "" : "none";
            });
        });
        }
        document.addEventListener("DOMContentLoaded", function () {
        enableSearch("search-files", "tbody tr");
        });
    </script>
</body>
</html>