{% extends 'base.html' %}

{% block content %}
<div class="w-4xl bg-zinc-800 mx-auto p-2 rounded-b-md space-y-2 shadow-md">
    <div class="flex flex-col bg-zinc-700 rounded-sm p-2 shadow-md">
        <a href="{% url 'users' %}" class="w-20 text-center bg-blue-800 hover:bg-blue-600 transition font-semibold rounded-sm p-2 shadow-md">
            Voltar
        </a>

        <!-- Card para editar Filme -->
        <div class="flex flex-col gap-2 text-center items-center">
            <h1 class="font-semibold">Editar o usuário: {{ user.username }}</h1>

            <form method="POST" class="flex flex-col gap-2 text-gray-500">
                {% csrf_token %}
                
                {{ form.username }}

                {{ form.password1 }}

                {{ form.password2 }}

                <div class="flex items-center gap-2">
                    <label for="is_active" class="text-gray-300">Marque para ativar o usuário: </label>
                    {{ form.is_active }}
                </div>

                <button type="submit" class="w-40 mx-auto bg-green-800 hover:bg-green-600 p-2 rounded-sm text-white font-semibold cursor-pointer transition shadow-md">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}