{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-lg bg-zinc-900 rounded-sm shadow-md mt-20 text-center p-2">
        <h1 class="font-semibold m-2">Acessar Painel de Controle</h1>
        <br>

        <form method="POST" class="flex flex-col items-center gap-4">
            {% csrf_token %}

            {{ form.username }}

            {{ form.password }}

            <button type="submit" class="w-full max-w-30 bg-green-800 hover:bg-green-600 rounded-sm shadow-md p-2 transition cursor-pointer font-semibold">
                Acessar
            </button>
        </form>

        <br>
        <hr class="border-gray-600 shadow-md">
        <br>

        <div class="flex flex-col text-center gap-4 p-2">
            <h1 class="font-semibold text-blue-400">Problemas para acessar?</h1>
            <p class="text-justify">Contate o administrador do sistema diretamente. Somente o administrador pode criar e excluir usuários, incluindo alterar senhas.</p>
            
            
            <h1 class="font-semibold text-yellow-300 text-center">Para suporte especializado:</h1>
            <p>bonéandicejhow@support.com</p>
        </div>
    </div>
</div>
{% endblock %}